//Base Global Var
$baseUnitVar: 4;
//maxBaseMinNumber
$maxBaseMinNumber-px: 4;
$maxBaseMinNumber-number: 4;
$maxBaseMinNumber-percent : 4;
$maxBaseMinNumber-vh: 4;
$maxBaseMinNumber-vw: 4;
$maxBaseMinNumber-em: 4;
$maxBaseMinNumber-rem: 4;

// maxBaseClass
$maxNumber: 1000;
$max-px:500;
$max-percent: 25;
$max-vh: 25;
$max-vw: 25;
// $max-em: 100;
// $max-rem: 100;
$max-zindex: 9;