//global object
$class: 'bg';
$activItemClass: null;
$hoverItemClass: null;
$activeClass: null;
$hoverClass: null;
// $activItemClass: 'aitem-bg';
// $hoverItemClass: 'hitem-bg';
// $activeClass:'a-bg';
// $hoverClass:'h-bg';
@include generateResponsiveAtomic() {
    @each $key,
    $value in $bgSize {
        &-#{$key} {
            background-size: $value;
        }
    }
    @each $key,
    $value in $bgRepeat {
        &-#{$key} {
            background-repeat: $value;
        }
    }
    @each $key,
    $value in $bgPosition {
        &-#{$key} {
            background-position: $value;
        }
    }
}