<header class="_s_position-fixed _s_z-3 _s_position-l-percent--0 _s_position-t-percent--0 _s_size-w-percent--25">
    <div
        class="_s_flex _s_flex-a-center _s_flex-j-center _s_p-3 _s_color-bg-primary-6 _s_bd-solid _s_bw-d-1 _s_bd-primary-2">
        <div class="_s_container _s_flex _s_flex-j-center">
            <div class="_s_col-5 _s_flex _s_label-a-end _s_flex-j-end"><span
                    class="_s_label _s_label-sm _s_color-primary-3">Atomic </span></div>
            <div class="_s_flex _s_flex-j-center _s_opacity-0--8 _s_h-opacity _s_hitem-opacity-0--5"><a
                    href="https://github.com/GeorgeKish/atomic-guide-builder"
                    class="_s_flex _s_flex-a-center _s_flex-j-center _s_icon _s_icon-md _s_bg-img-git _s_bg-size-full"></a>
            </div>
            <div class="_s_col-5 _s_flex _s_label-a-start _s_flex-j-start"><span
                    class="_s_label _s_label-sm _s_color-primary-2"> UI </span></div>
        </div>
    </div>
</header>