// ------------------ ewl data theme heeader------------------ //

//  betfair header, micro:color color
._s_apollo-data-theme-header {
  --primary-8: #191e23;
  --primary-1: #191e23;
  --rgba-5: 255, 255, 255;
  --b-7: #ffffff;
  --b-position-7: rgba(30, 30, 30, .05);
  --b-position-6: rgba(30, 30, 30, .05);
  --bg-3: #1e1e1e;
  --bg-4: #ffffff;
  --bg-5: #ffb80c;
  --bg-7: #dd9c06;
  --input-4: #ffffff;
  --input-transparent: #ffffff;
  --btn-bg-7: #1e1e1e;
  --btn-bg-2: #c2c2c2;
  --btn-border-7: #323b43;
  --btn-border-2: #c2c2c2;
  --btn-label-color-1: #ffffff;
  --btn-label-color-2: #000000;
  --logo: url('https://newstatic.adjarabet.com/static/atomic/images/logos/logo-black.svg');
  --logo-am: url('https://newstatic.adjarabet.com/static/atomic/images/logos/logo-am-black.svg');
  --logo-sm: url('https://newstatic.adjarabet.com/static/atomic/images/logos/mini-logo-black.svg');

  //  betfair header, micro:color child  notification
  ._s_apollo-data-theme-header--notif {
    --label-color-1: #1e1e1e;
    --bg-6: #F0F1F5;
    --bg-7: #DCDCDC;
    --primary-6: #F0F1F5;
    --b-position-7: #DCDCDC;
    --scroll-5: #F0F1F5;
    --scroll-7: #DCDCDC;
    --scroll-3: #DCDCDC;
  }

  ._s_apollo-data-theme-header--layer {
    --bg-5: #FFFFFF;
    --primary-5: #FFFFFF;
    --bg-6: #FFFFFF;
    --label-color-1: #1e1e1e;
    --primary-8: #7F7F7F;
    --b-position-7: #DCDCDC;
  }

  ._s_apollo-data-theme-header--btn {
    --bg-3: #c91f20;
    --label-color-1: #ffffff;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:active,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:hover {
    -webkit-box-shadow: 0 0 0 1000px #fff inset;
    -webkit-text-fill-color: #000000;
    border: 1px solid #ffffff;
  }
}

._s_apollo-data-theme-mobile-header {
  // fk wr // background-color: rgba(var(--rgba-0), rgba(var(--opacity-7));
  // }
  --icon-color-1: #1e1e1e;
  --label-color-1: #1e1e1e;
  --bg-4: #ffb80c;

  ._s_apollo-data-theme-header--user {
    --primary-8: #1e1e1e;
    --label-color-1: #ffffff;
  }

  ._s_apollo-data-theme-header--layer {
    --bg-5: #FFFFFF;
    --primary-5: #FFFFFF;
    --bg-6: #FFFFFF;
    --label-color-1: #1e1e1e;
    --primary-8: #7F7F7F;
    --b-position-7: #DCDCDC;
    --primary-1: #DCDCDC;
  }

  ._s_apollo-data-theme-balance--layer {
    --primary-1: #1E1E1E;
    --primary-8: #626262;
    --bg-2: #FFB80C;
  }

  ._s_apollo-data-theme-switch--layer {

    --bg-4: #CCCCCC;
    --bg-6: #F0F1F5;
    --primary-6: #626262;
    --primary-8: #626262;
    --primary-2: #626262;
  }
}

// ------------------ ewl data theme footer------------------ //
._s_apollo-data-theme-footer {
  --primary-8: #191e23;
  --primary-1: #191e23;
  --b-7: rgb(50 59 67 / 20%);
  --b-position-7: rgb(50 59 67 / 20%);
  --b-position-6: rgba(30, 30, 30, .05);
  --bg-6: #dcdcdc;
  --bg-5: #c2c2c2;
  --bg-2: #ffb80c;
  --scroll-5: #dcdcdc;
  --scroll-3: #c2c2c2;
}

// ------------------ ewl data theme mobile footer------------------ //
._s_apollo-data-theme-mobile-footer {
  --primary-8: #191e23;
  --primary-1: #191e23;
  --b-7: rgb(50 59 67 / 20%);
  --bg-6: #c2c2c2;
  --bg-5: #dcdcdc;
  --bg-2: #ffb80c;
  --bg-7: #c2c2c2;
  --btn-bg-7: #c2c2c2;
  --btn-border-7: #c2c2c2;
  --btn-bg-transparent: transparent;
  --btn-label-color-1: #000000;
  --btn-label-color-2: #000000;
}



// [[[[[ global Layouts mood. ]]]]]
._s_apollo-data-theme-mood-0 {}
._s_apollo-data-theme-mood-1 {
  --primary-2: #c91f20;
  --primary-3: #c91f20;
  --primary-7: #c91f20;
  --primary-8: #ffffff;
  --b-7: #202020;
  --b-3: #c91f20;
  --b-2: #c91f20;
  --b-position-7: #202020;
  --b-position-2: #c91f20;
  --bg-2: #c91f20;
  --bg-3: #c91f20;
  --bg-4: #000000;
  --bg-5: #000000;
  --bg-6: #000000;
  --bg-7: #000000;
  --btn-bg-2: #c91f20;
  --btn-bg-7: #202020;
  --rgba-5: 0, 0, 0;
  --rgba-2: 201, 31, 32;
  --rgba-3: 201, 31, 32;
  --rgba-7: 201, 31, 32;
  --rgba-8: 201, 31, 32;
  --btn-border-7: #202020;
  --scroll-5: #000000;
  --scroll-7: #c91f20;
  --scroll-3: #c91f20;
  --input-bg-4: #000000;
}
._s_apollo-data-theme-mood-2 {
  --primary-2: #00a557;
  --bg-2: #00a557;
  --rgba-2: #00a557;
  --b-2: #00a557;
  --b-position-2: #00a557;
  --input-bg-2: #00a557;

  --primary-4: #0e1214;
  --bg-4: #0e1214;
  --rgba-4: #0e1214;
  --b-4: #0e1214;
  --b-position-4: #0e1214;
  --input-bg-4: #0e1214;

  --primary-5: #111519;
  --bg-5: #111519;
  --rgba-5: #111519;
  --b-5: #111519;
  --b-position-5: #111519;
  --input-bg-5: #111519;

  --primary-6: #151a1f;
  --bg-6: #151a1f;
  --rgba-6: #151a1f;
  --b-6: #151a1f;
  --b-position-6: #151a1f;
  --input-bg-6: #151a1f;

  --primary-7: #1b2127;
  --bg-7: #1b2127;
  --rgba-7: #1b2127;
  --b-7: #1b2127;
  --b-position-7: #1b2127;
  --input-bg-7: #1b2127;

}

// https: //itravelpoetry.com/wp-content/uploads/2022/02/img_8284.jpg