:root {
  // ------------------ colors------------------ //
  --primary-0: #000000;
  --primary-3: #c91f20;
  --primary-4: #191e23;
  --primary-5: #1d2329;
  --primary-6: #202830;
  --primary-8: #a2a9b3;
  --primary-7: #323b43;
  --primary-9: #da8201;
  --primary-10: #30325c;
  --primary-11: #30233f;
  --primary-12: #463e5c;
  --primary-13: #7f7293;
  --primary-14: #433430;
  --primary-15: #61443a;
  --primary-16: #68533c;
  --primary-17: #60788D;
  --primary-1: #ffffff;
  --primary-2: #01AC2D;
  --primary-transparent: transparent;
  // rgba-colors
  --rgba-0: 0, 0, 0;
  --rgba-3: 201, 31, 32;
  --rgba-4: 25, 30, 35;
  --rgba-5: 29, 35, 41;
  --rgba-6: 32, 40, 48;
  --rgba-8: 162, 169, 179;
  --rgba-7: 50, 59, 67;
  --rgba-9: 218, 130, 1;
  --rgba-10: 48, 50, 92;
  --rgba-11: 48, 35, 63;
  --rgba-12: 70, 62, 92;
  --rgba-13: 127, 114, 147;
  --rgba-14: 67, 52, 48;
  --rgba-15: 97, 68, 58;
  --rgba-16: 104, 83, 60;
  --rgba-17: 96, 120, 141;
  --rgba-1: 255, 255, 255;
  --rgba-2: 1, 172, 45;
  --rgba-transparent: 255, 255, 255;
  // border-colors
  --b-0: var(--primary-0);
  --b-3: var(--primary-3);
  --b-4: var(--primary-4);
  --b-5: var(--primary-5);
  --b-6: var(--primary-6);
  --b-8: var(--primary-8);
  --b-7: var(--primary-7);
  --b-9: var(--primary-9);
  --b-10: var(--primary-10);
  --b-11: var(--primary-11);
  --b-12: var(--primary-12);
  --b-13: var(--primary-13);
  --b-14: var(--primary-14);
  --b-15: var(--primary-15);
  --b-16: var(--primary-16);
  --b-17: var(--primary-17);
  --b-1: var(--primary-1);
  --b-2: var(--primary-2);
  --b-transparent: var(--primary-transparent);
  // border-colors-positions
  --b-position-0: var(--primary-0);
  --b-position-3: var(--primary-3);
  --b-position-4: var(--primary-4);
  --b-position-5: var(--primary-5);
  --b-position-6: var(--primary-6);
  --b-position-8: var(--primary-8);
  --b-position-7: var(--primary-7);
  --b-position-9: var(--primary-9);
  --b-position-10: var(--primary-10);
  --b-position-11: var(--primary-11);
  --b-position-12: var(--primary-12);
  --b-position-13: var(--primary-13);
  --b-position-14: var(--primary-14);
  --b-position-15: var(--primary-15);
  --b-position-16: var(--primary-16);
  --b-position-17: var(--primary-17);
  --b-position-1: var(--primary-1);
  --b-position-2: var(--primary-2);
  --b-position-transparent: var(--primary-transparent);
  // bg-colors
  --bg-0: var(--primary-0);
  --bg-3: var(--primary-3);
  --bg-4: var(--primary-4);
  --bg-5: var(--primary-5);
  --bg-6: var(--primary-6);
  --bg-8: var(--primary-8);
  --bg-7: var(--primary-7);
  --bg-9: var(--primary-9);
  --bg-10: var(--primary-10);
  --bg-11: var(--primary-11);
  --bg-12: var(--primary-12);
  --bg-13: var(--primary-13);
  --bg-14: var(--primary-14);
  --bg-15: var(--primary-15);
  --bg-16: var(--primary-16);
  --bg-17: var(--primary-17);
  --bg-1: var(--primary-1);
  --bg-2: var(--primary-2);
  --bg-transparent: var(--primary-transparent);
  // MICRO BTNS
  --btn-bg-2: var(--primary-2);
  --btn-bg-3: var(--primary-3);
  --btn-bg-7: var(--primary-7);
  --btn-bg-transparent: var(--primary-transparent);

  --btn-bg-rgba-2: var(--rgba-2);
  --btn-bg-rgba-3: var(--rgba-3);
  --btn-bg-rgba-6: var(--rgba-6);
  --btn-bg-rgba-7: var(--rgba-7);
  --btn-bg-rgba-8: var(--rgba-8);
  --btn-bg-rgba-transparent: var(--rgba-transparent);

  --btn-border-2: var(--primary-2);
  --btn-border-3: var(--primary-3);
  --btn-border-7: var(--primary-7);
  --btn-border-8: var(--primary-8);
  --btn-border-transparent: var(--primary-transparent);

  --btn-label-1: var(--primary-1);
  --btn-icon-1: var(--primary-1);
  --btn-label-rgba-1: var(--rgba-1);
  --btn-icon-rgba-1: var(--rgba-1);
  // MICRO BTNS /.

  // scroll
  --scroll-5: #1d2329;
  --scroll-7: #323b43;
  --scroll-3: #c91f20;

  // input
  --input-4: #191e23;
  --input-transparent: transparent;

  // btn-label-color
  --btn-label-color-1: #ffffff;
  --btn-label-color-2: #ffffff;
  // micro-icon
  --icon-color-1: #ffffff;
  // micro label
  --label-color-1: #ffffff;
  // ------------------ images------------------ //
  --logo: url('https://newstatic.adjarabet.com/static/atomic/images/logos/logo.svg');
  --logo-am: url('https://staticfiles.adjarabet.am/static.am/atomic/images/logos/logo_am.svg');
  --logo-sm: url('https://newstatic.adjarabet.com/static/atomic/images/newLogo/logo-sm.svg');
  --logo-am-sm: url('https://staticfiles.adjarabet.am/static.am/atomic/images/newLogo/logo-sm.svg');
  // --logo-telegram-am: url('https://staticfiles.adjarabet.am/static.am/atomic/images/newLogo/telegram-am.svg');
  // --logo-telegram-com: url('https://newstatic.adjarabet.com/static/atomic/images/newLogo/telegram-com.svg');
  --image-arena: url('https://newstatic.adjarabet.com/static/atomic/icons/arena-bg-new.svg');
}