@import '_apollo-default.scss';
@import '_grid';
@import '_icons';
@import '_common-jackpots';
@import 'themes/themes';
@import '_builded-btns';
// comm
._s_flex-a-start-i {
  align-items: flex-start !important;
}
._s_white-space-normal {
    white-space: normal !important;
}
// sizes
._s_size-w-vw--25 {
    width: 100vw;
}
._s_size-h-px-zero--2 {
    height: 2px;
}
._s_size-w-px-zero--2 {
    width: 2px;
}
._s_a-p._s_aitem-pl-1 {
    padding-left: 4px;
}
// spacing
._s_a-p._s_aitem-pt-1 {
    padding-top: 4px;
}
._s_a-p._s_aitem-pr-1 {
    padding-right: 4px;
}
._s_a-p._s_aitem-pb-1 {
    padding-bottom: 4px;
}
._s_a-p._s_aitem-pl-5 {
    padding-left: 20px;
}
// opacity
._s_a-opacity._s_aitem-opacity-1 {
    opacity: 1;
}
// spacing
._s_a-p._s_aitem-pt-none {
    padding-top: 0px;
}
// disabled  typo  dasamatebelia
._s_d-color ._s_ditem-color-primary-4 {
    color: #191e23;
}
._s_d-cursor ._s_ditem-cursor-default {
    cursor: default;
}
/* Desktop Last slot winner animation shalva chaildebi dasamatebeli gvaq taipebis mixedvit*/
._s_slot-winner:first-child {
    height: 0px;
    margin-top: 0;
    padding-bottom: 0;
    overflow: hidden;
}
._s_height ._s_slot-winner:first-child {
    height: 200px;
    margin-top: 20px;
    padding-bottom: 4px;
}
/* Desktop Last slot winner animation end */
._s_adj-crown:before {content: "\e969";}
._s_adj-recently:before {content: "\e91d";}
._s_adj-announcement:before {content: "\e94e";}
._s_adj-recommended:before {content: "\e91b";}
._s_adj-trending:before {content: "\e96c";}
._s_adj-sports:before, ._s_adj-sport:before {content: "\e952";}
/* EWL Styles - TODO gadasatania (Marto Exchange s routze rom chaitvirtos) */
._s_mt-body {
  margin-top: 104px;
}
  //for payment
  .withdrawal-instruction__description table {
    width: auto !important;
  }
._s_overflow-visibled {
    overflow: visible !important
}
._s_check-radio-disabled ._s_adj-check {
    color: #1d2329;
}
._s_overflow-auto,._s_overflow-y-auto,._s_overflow-x-auto,._s_overflow-x-scroll {
  -webkit-overflow-scrolling: touch;
}
._s_body_overflow {
  overflow: hidden;
  height: 100%;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  -webkit-overflow-scrolling: none;
  -webkit-overflow-scrolling: hidden;
}

// Slider bullets

._s_position-l-percent--50 {
  left: 50%;
}

._s_transform-translateX-minus-percent--50 {
  transform: translateX(-50%);
}

// Popup fadeUp

._s_animation-translateY--100 {
  animation-name: moveUp;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
}

@keyframes moveUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}


._s_scroll-x-md::-webkit-scrollbar {
  height: 8px
}
._s_scroll-x-sm::-webkit-scrollbar {
  height: 4px
}

input:-internal-autofill-selected {
    background-color: rgb(232, 240, 254) !important;
    background-image: none !important;
    color: -internal-light-dark-color(black, transparent) !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    border: 1px solid #323b43;
    -webkit-text-fill-color: #fff;
    -webkit-box-shadow: 0 0 0 1000px rgb(29, 36, 41) inset;
    transition: background-color 5000s ease-in-out 0s;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-text-fill-color: #ffffff;
    -webkit-animation: autofill 0s forwards;
    -webkit-transition-delay: 99999s;
    animation: autofill 0s forwards;
}

//for enter-with-sms -- auth
._s_label-xxs {
  font-size: 10px!important;
}

._s_size-h-vh--22 {
  height: 88vh !important;
}

// Infinite rotate anim

._s_transform-rotate-infinite {
    -webkit-animation: rotating 1s linear infinite;
    -moz-animation: rotating 1s linear infinite;
    -ms-animation: rotating 1s linear infinite;
    -o-animation: rotating 1s linear infinite;
    animation: rotating 1s linear infinite;
}
@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

// hide cursor for disable input
._s_disabled-input {
    color: transparent !important;
    text-shadow: 0px 0px 0px #323b43;
}

//for account layer responsive
._s_calc-height {
    max-height: calc(100vh - 318px);
}