$class: 'input';
$activItemClass: 'aitem-input';
$hoverItemClass: 'hitem-input';
$activeClass:'a-input';
$hoverClass:'h-input';

@include generateResponsiveAtomic() {
  outline: none;
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  display: flex;
  overflow: hidden;
  cursor: pointer;
  position: relative;

  // default input types
  @each $key,
  $value in $baeInputFontSizeDefault {
    -webkit-appearance: none;
    -appearance: none;
    font-size: $value;
    height: map_get($baseInputHeightDefault, #{$key});
    border-radius: map_get($baseInputBorderRadiusDefault, #{$key});
    color: map_get($baseInputColorDefault, #{$key});
    background-color: map_get($BaseInputBgColorDefault, #{$key});
    border: solid 1px map_get($baseInputBorderColor, #{$key});
    font-family: map_get($baseInputFont, #{$key});
    padding: map_get($baseInputPadding, #{$key});

    // Input types
    @each $key,
    $value in $BaseInputTypes {
      &-#{$key} {
        background-color: map_get($BaseInputBgColor, #{$key});
        border: $value;
      }
    }

    // Input types 
    @each $key,
    $value in $baseInputFontSize {
      &-#{$key} {
        font-size: $value;
        height: map_get($BaseInputSize, #{$key});
      }
    }

    //transparent bordered 
    @each $key,
    $value in $BaseInputTypes {
      &-bordered-#{$key} {
        background-color: transparent;
        border: $value;
      }
    }
  }
}
