
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>ATOMIC CSS</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="Description"
    content="A simple yet thorough webpack starter boilerplate for static websites that achieves high performance and cover all best practices." />

  <!-- Open alpa data  -->
  <meta property="og:title" content="George Kishmareia" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://github.com/GeorgeKish/atomic-guide-builder" />
  <meta property="og:image" content="#" />
  <meta property="og:image:alt" content="A blue package, symbolizing what webpack does." />
  <meta property="og:description"
    content="A simple yet thorough webpack starter boilerplate for static websites that achieves high performance and cover all best practices." />

  <!-- Twitter Card data -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:creator" content="#q1sh0" />

  <!-- Mobile header color for Chrome, Firefox OS and Opera -->
  <meta name="theme-color" content="#2c638f" />
  <!-- Mobile header color Windows Phone -->
  <meta name="msapplication-navbutton-color" content="#2c638f" />
  <!-- Mobile header color for iOS Safari (supports black, black-translucent or default) -->
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
  <link rel="stylesheet" href="https://newstatic.adjarabet.com/static/atomic/buildcss/fonts-com.css">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Extended+Text&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://newstatic.adjarabet.com/static/atomic/buildcss/new-fonts.css">

</head>
<!-- 
 <%- include atomic-elements/organisms/header -%>
  <%- include atomic-elements/templates/dock -%>
    <%- include atomic-elements/templates/guide -%> -->

<body class="_s_color-bg-primary-4 _s_user-select-auto _s_pt-10 _s_pb-10 _s_atom-mode">
<body class="com en" data-v="0.1.391494419912|">

  <div id="livechat"></div>
  <my-app _nghost-scd-c53="" ng-version="12.0.0">
    <adj-header _ngcontent-scd-c53="" class="_s_flex" _nghost-scd-c50="">
      <div _ngcontent-scd-c50="" class="_s_flex _s_size-w-percent--25 _s_flex-d-column  _s_bd-primary-7 _s_bd-solid _s_bw-1">
        <!---->
        <!---->
        <div _ngcontent-scd-c50=""
          class="_s_color-bg-primary-5 _s_position-t-px--0 _s_position-l-px--0 _s_z-9 _s_size-w-percent--25 _s_mb-10 _s_position-relative">
          <div _ngcontent-scd-c50=""
            class="_s_size-w-percent--25 _s_size-w-min-px--225 _s_flex _s_flex-a-center _s_pl-2 _s_pr-2 _s_container">
            <div _ngcontent-scd-c50=""
              class="_s_size-w-percent--25 _s_size-w-min-px--225 _s_flex _s_flex-a-center _s_pl-2 _s_pr-2 _s_container">
              <div _ngcontent-scd-c50="" data-id="ab-hp"
                class="_s_size-h-percent--25 _s_position-relative _s_aitem-scroll-scrolled-none _s_pt-2 _s_pb-2 _s_mr-5 _s_flex">
                <span _ngcontent-scd-c50=""
                  class="_s_cursor-pointer _s_bg-position-center _s_size-w-px--42 _s_size-h-px--12 _s_display-b _s_bg-no-repeat _s_bg-size-full _s_bg-position-left _s_bg-img-logo"
                  tabindex="0"></span>
                <!---->
              </div><span _ngcontent-scd-c50=""
                class="_s_flex _s_flex-a-center _s_size-w-max-px--30 _s_size-w-percent--100 _s_cursor-pointer _s_aitem-scroll-scrolled-none"><img
                  _ngcontent-scd-c50="" alt="" class="_s_size-w-max-percent--25"
                  src="https://newstatic.adjarabet.com/static/images/floating_banners/233_ka.jpg"
                  data-id="floating-left-233 - winning-ground"></span>
              <!---->
              <div _ngcontent-scd-c50=""
                class="_s_mr-5 _s_size-h-percent--25 _s_position-relative _s_aitem-scroll-scrolled-flex _s_display-n _s_pb-5 _s_pt-5">
                <span _ngcontent-scd-c50="" data-id="adj-logo-sm"
                  class="_s_cursor-pointer _s_bg-img-logoSm _s_bg-position-center _s_size-w-px--6 _s_size-h-px--6 _s_display-b _s_bg-no-repeat _s_bg-size-full"
                  tabindex="0"></span></div>
              <adj-navigation _ngcontent-scd-c50=""
                class="_s_color-bg-primary-7 _s_display-b _s_position-l-percent--0 _s_position-t-px--16 _s_size-w-percent--25 _s_position-absolute"
                _nghost-scd-c22="" id="main-navigation">
                <div _ngcontent-scd-c22=""
                  class="_s_container _s_flex _s_flex-a-center _s_size-h-percent--25 _s_size-w-percent--25"><a
                    _ngcontent-scd-c22=""
                    class="_s_flex _s_flex-a-center _s_ml-2 _s_mr-2 _s_position-relative _s_size-h-min-px--10 _s_size-h-percent--25"
                    href="/en/Sportsbook">
                    <!---->
                    <!---->
                    <!---->
                    <!----><span _ngcontent-scd-c22=""
                      class="_s_label _s_label-t-u _s_white-space-nowrap _s_color-primary-1">Sports</span><span
                      _ngcontent-scd-c22=""
                      class="_s_aitem-display-b _s_bd-primary-3 _s_bd-solid _s_btn-transparent _s_bw-2 _s_display-n _s_position-absolute _s_position-b-percent--0 _s_size-w-percent--25"></span>
                  </a>
                  <!---->
                  <!---->
                  <!----><a _ngcontent-scd-c22=""
                    class="_s_flex _s_flex-a-center _s_ml-2 _s_mr-2 _s_position-relative _s_size-h-min-px--10 _s_size-h-percent--25"
                    href="/en/Exchange">
                    <!---->
                    <!---->
                    <!---->
                    <!----><span _ngcontent-scd-c22=""
                      class="_s_label _s_label-t-u _s_white-space-nowrap _s_color-primary-1">Betfair
                      Exchange</span><span _ngcontent-scd-c22=""
                      class="_s_aitem-display-b _s_bd-primary-3 _s_bd-solid _s_btn-transparent _s_bw-2 _s_display-n _s_position-absolute _s_position-b-percent--0 _s_size-w-percent--25"></span>
                  </a>
                  <!---->
                  <!---->
                  <!----><a _ngcontent-scd-c22=""
                    class="_s_flex _s_flex-a-center _s_ml-2 _s_mr-2 _s_position-relative _s_size-h-min-px--10 _s_size-h-percent--25"
                    href="/en/VirtualSport">
                    <!---->
                    <!----><span _ngcontent-scd-c22=""
                      class="_s_aitem-scroll-a-end _s_position-absolute _s_position-l-percent--0 _s_size-h-px--7 _s_flex _s_flex-j-center _s_size-w-percent--25 _s_position-minus-t-px--2"><span
                        _ngcontent-scd-c22=""
                        class="_s_b-radius-sm _s_color-bg-primary-3 _s_pl-1 _s_pr-1 _s_label-xs _s_size-h-px--4 _s_label-t-u">new</span></span>
                    <!---->
                    <!----><span _ngcontent-scd-c22=""
                      class="_s_label _s_label-t-u _s_white-space-nowrap _s_color-primary-1">Virtual Sport</span><span
                      _ngcontent-scd-c22=""
                      class="_s_aitem-display-b _s_bd-primary-3 _s_bd-solid _s_btn-transparent _s_bw-2 _s_display-n _s_position-absolute _s_position-b-percent--0 _s_size-w-percent--25"></span>
                  </a>
                  <!---->
                  <!---->
                  <!----><a _ngcontent-scd-c22=""
                    class="_s_flex _s_flex-a-center _s_ml-2 _s_mr-2 _s_position-relative _s_size-h-min-px--10 _s_size-h-percent--25"
                    href="/en/Slots">
                    <!---->
                    <!---->
                    <!---->
                    <!----><span _ngcontent-scd-c22=""
                      class="_s_label _s_label-t-u _s_white-space-nowrap _s_color-primary-1">Slots</span><span
                      _ngcontent-scd-c22=""
                      class="_s_aitem-display-b _s_bd-primary-3 _s_bd-solid _s_btn-transparent _s_bw-2 _s_display-n _s_position-absolute _s_position-b-percent--0 _s_size-w-percent--25"></span>
                  </a>
                  <!---->
                  <!---->
                  <!----><a _ngcontent-scd-c22=""
                    class="_s_flex _s_flex-a-center _s_ml-2 _s_mr-2 _s_position-relative _s_size-h-min-px--10 _s_size-h-percent--25"
                    href="/en/Casino">
                    <!---->
                    <!---->
                    <!---->
                    <!----><span _ngcontent-scd-c22=""
                      class="_s_label _s_label-t-u _s_white-space-nowrap _s_color-primary-1">Live Casino</span><span
                      _ngcontent-scd-c22=""
                      class="_s_aitem-display-b _s_bd-primary-3 _s_bd-solid _s_btn-transparent _s_bw-2 _s_display-n _s_position-absolute _s_position-b-percent--0 _s_size-w-percent--25"></span>
                  </a>
                  <!---->
                  <!---->
                  <!----><a _ngcontent-scd-c22=""
                    class="_s_flex _s_flex-a-center _s_ml-2 _s_mr-2 _s_position-relative _s_size-h-min-px--10 _s_size-h-percent--25"
                    href="/en/Poker">
                    <!---->
                    <!---->
                    <!---->
                    <!----><span _ngcontent-scd-c22=""
                      class="_s_label _s_label-t-u _s_white-space-nowrap _s_color-primary-1">Poker</span><span
                      _ngcontent-scd-c22=""
                      class="_s_aitem-display-b _s_bd-primary-3 _s_bd-solid _s_btn-transparent _s_bw-2 _s_display-n _s_position-absolute _s_position-b-percent--0 _s_size-w-percent--25"></span>
                  </a>
                  <!---->
                  <!---->
                  <!----><a _ngcontent-scd-c22=""
                    class="_s_flex _s_flex-a-center _s_ml-2 _s_mr-2 _s_position-relative _s_size-h-min-px--10 _s_size-h-percent--25"
                    href="/en/Games">
                    <!---->
                    <!---->
                    <!---->
                    <!----><span _ngcontent-scd-c22=""
                      class="_s_label _s_label-t-u _s_white-space-nowrap _s_color-primary-1">Table Games</span><span
                      _ngcontent-scd-c22=""
                      class="_s_aitem-display-b _s_bd-primary-3 _s_bd-solid _s_btn-transparent _s_bw-2 _s_display-n _s_position-absolute _s_position-b-percent--0 _s_size-w-percent--25"></span>
                  </a>
                  <!---->
                  <!---->
                  <!----><a _ngcontent-scd-c22=""
                    class="_s_flex _s_flex-a-center _s_ml-2 _s_mr-2 _s_position-relative _s_size-h-min-px--10 _s_size-h-percent--25"
                    href="/en/Aviator">
                    <!---->
                    <!---->
                    <!---->
                    <!----><span _ngcontent-scd-c22=""
                      class="_s_label _s_label-t-u _s_white-space-nowrap _s_color-primary-1">Aviator</span><span
                      _ngcontent-scd-c22=""
                      class="_s_aitem-display-b _s_bd-primary-3 _s_bd-solid _s_btn-transparent _s_bw-2 _s_display-n _s_position-absolute _s_position-b-percent--0 _s_size-w-percent--25"></span>
                  </a>
                  <!---->
                  <!---->
                  <!----><a _ngcontent-scd-c22=""
                    class="_s_flex _s_flex-a-center _s_ml-2 _s_mr-2 _s_position-relative _s_size-h-min-px--10 _s_size-h-percent--25"
                    href="/en/TurboGames">
                    <!---->
                    <!---->
                    <!---->
                    <!----><span _ngcontent-scd-c22=""
                      class="_s_label _s_label-t-u _s_white-space-nowrap _s_color-primary-1">Turbo Games</span><span
                      _ngcontent-scd-c22=""
                      class="_s_aitem-display-b _s_bd-primary-3 _s_bd-solid _s_btn-transparent _s_bw-2 _s_display-n _s_position-absolute _s_position-b-percent--0 _s_size-w-percent--25"></span>
                  </a>
                  <!---->
                  <!---->
                  <!----><a _ngcontent-scd-c22=""
                    class="_s_flex _s_flex-a-center _s_ml-2 _s_mr-2 _s_position-relative _s_size-h-min-px--10 _s_size-h-percent--25 _s_aitem-scroll-scrolled-none _s_ml-auto"
                    href="/en/Promo/Promos">
                    <!---->
                    <!---->
                    <!----><span _ngcontent-scd-c22="" class="_s_icon _s_adj-promotion _s_mr-2"></span>
                    <!----><span _ngcontent-scd-c22=""
                      class="_s_label _s_label-t-u _s_white-space-nowrap _s_color-primary-1">Promotions</span><span
                      _ngcontent-scd-c22=""
                      class="_s_aitem-display-b _s_bd-primary-3 _s_bd-solid _s_btn-transparent _s_bw-2 _s_display-n _s_position-absolute _s_position-b-percent--0 _s_size-w-percent--25"></span>
                  </a>
                  <!---->
                  <!---->
                  <!---->
                  <!---->
                </div>
                <!---->
              </adj-navigation>
              <adj-login _ngcontent-scd-c50="" class="_s_ml-auto _s_position-relative" _nghost-scd-c42="">
                <div _ngcontent-scd-c42="" class="_s_flex authorization__interface">
                  <div _ngcontent-scd-c42="" class="_s_ml-auto _s_position-relative _s_flex">
                    <div _ngcontent-scd-c42="" class="_s_flex">
                      <form _ngcontent-scd-c42="" novalidate="" id="login-form" name="login-form"
                        class="_s_flex ng-untouched ng-pristine ng-invalid">
                        <div _ngcontent-scd-c42="" class="_s_aitem-scroll-scrolled-none _s_flex _s_flex-a-start">
                          <div _ngcontent-scd-c42="" class="_s_flex _s_position-relative _s_mr-2">
                            <div _ngcontent-scd-c42="" class="_s_position-relative is-editable form-content-wrapper">
                              <input _ngcontent-scd-c42="" type="text" data-id="username" formcontrolname="username"
                                class="_s_size-w-px--57 _s_input _s_input-sm _s_input-transparent _s_b-primary-7 _s_bw-1 _s_b-solid _s_pt-2 ng-untouched ng-pristine ng-invalid"><span
                                _ngcontent-scd-c42=""
                                class="here-insert-newLabel-class _s_pt-1 _s_position-absolute _s_position-l-percent--0 _s_position-t-px--0 _s_label _s_label-xs _s_pl-2 _s_transition-0--3 _s_white-space-nowrap _s_color-primary-8 _s_pointer-event-none">
                                Name </span></div><a _ngcontent-scd-c42="" data-id="username-recovery"
                              class="_s_color-primary-8 _s_h-color _s_bw-l-1 _s_bl-solid _s_bl-primary-7 _s_position-absolute _s_flex-a-center _s_flex _s_position-r-px--0 _s_position-t-px--0 _s_size-h-percent--25 _s_h-display"><span
                                _ngcontent-scd-c42="" data-id="desktop-username-recovery"
                                class="_s_color-primary-8 _s_hitem-color-primary-1 _s_icon _s_icon-xs _s_adj-forget _s_cursor-pointer"></span>
                              <div _ngcontent-scd-c42=""
                                class="_s_position-absolute _s_position-r-px--0 _s_position-t-percent--25 _s_z-3 _s_mt-1 _s_hitem-display-f _s_display-n">
                                <div _ngcontent-scd-c42="" class="_s_p-1 _s_b-radius-sm _s_color-bg-primary-8"><span
                                    _ngcontent-scd-c42=""
                                    class="_s_label _s_white-space-nowrap _s_label-xs _s_color-primary-5 _s_pt-1 _s_pb-1 _s_pl-2 _s_pr-2">recovery</span>
                                </div>
                              </div>
                            </a>
                          </div>
                          <div _ngcontent-scd-c42="" class="_s_flex _s_position-relative">
                            <div _ngcontent-scd-c42="" class="_s_position-relative"><input _ngcontent-scd-c42=""
                                type="password" data-id="password" formcontrolname="password"
                                class="_s_size-w-px--57 _s_input _s_input-sm _s_input-transparent _s_b-primary-7 _s_bw-1 _s_b-solid _s_b-radius-br-none _s_b-radius-tr-none _s_pt-2 ng-untouched ng-pristine ng-invalid"><span
                                _ngcontent-scd-c42=""
                                class="here-insert-newLabel-class _s_pt-1 _s_position-absolute _s_position-l-percent--0 _s_position-t-px--0 _s_label _s_label-xs _s_pl-2 _s_transition-0--3 _s_white-space-nowrap _s_color-primary-8 _s_pointer-event-none">
                                Password </span></div><a _ngcontent-scd-c42="" data-id="password-recovery"
                              class="_s_color-primary-8 _s_h-color _s_bw-l-1 _s_bl-solid _s_bl-primary-7 _s_position-absolute _s_flex-a-center _s_flex _s_position-r-px--0 _s_position-t-px--0 _s_size-h-percent--25 _s_h-display"><span
                                _ngcontent-scd-c42="" data-id="desktop-password-recovery"
                                class="_s_color-primary-8 _s_hitem-color-primary-1 _s_icon _s_icon-xs _s_adj-forget _s_cursor-pointer"></span>
                              <div _ngcontent-scd-c42=""
                                class="_s_position-absolute _s_position-r-px--0 _s_position-t-percent--25 _s_z-3 _s_mt-1 _s_hitem-display-f _s_display-n">
                                <div _ngcontent-scd-c42="" class="_s_p-1 _s_b-radius-sm _s_color-bg-primary-8"><span
                                    _ngcontent-scd-c42=""
                                    class="_s_label _s_white-space-nowrap _s_label-xs _s_color-primary-5 _s_pt-1 _s_pb-1 _s_pl-2 _s_pr-2">
                                    recovery </span></div>
                              </div>
                            </a>
                          </div><a _ngcontent-scd-c42="" data-id="sms-authorization"
                            class="_s_color-rgba-bg-primary-5-0--9 _s_color-primary-8 _s_b-radius-tr-sm _s_b-radius-br-sm _s_bw-1 _s_b-solid _s_b-primary-7 _s_size-h-percent--25 _s_position-relative _s_flex-a-center _s_flex _s_cursor-pointer _s_h-display">
                            <div _ngcontent-scd-c42=""
                              class="_s_position-absolute _s_position-r-px--0 _s_position-t-percent--25 _s_z-3 _s_mt-1 _s_hitem-display-f _s_display-n">
                              <div _ngcontent-scd-c42="" class="_s_p-1 _s_b-radius-sm _s_color-bg-primary-8"><span
                                  _ngcontent-scd-c42=""
                                  class="_s_label _s_white-space-nowrap _s_label-xs _s_color-primary-5 _s_pt-1 _s_pb-1 _s_pl-2 _s_pr-2">
                                  SMS authorization </span></div>
                            </div><span _ngcontent-scd-c42=""
                              class="_s_icon _s_adj-mobile-phone _s_color-primary-8 _s_h-color _s_hitem-color-primary-1"></span>
                          </a>
                        </div>
                        <!---->
                        <!---->
                        <div _ngcontent-scd-c42="" class="_s_flex _s_ml-5"><button _ngcontent-scd-c42="" type="submit"
                            data-id="login-btn" form="login-form"
                            class="_s_btn _s_btn-sm _s_btn-positive _s_pl-5 _s_pr-5 _s_mb-none"><span
                              _ngcontent-scd-c42="" class="_s_label _s_label-t-u">LogIn</span></button></div>
                      </form><button _ngcontent-scd-c42="" data-id="register-btn"
                        class="_s_btn _s_btn-sm _s_btn-negative _s_pl-5 _s_pr-5 _s_ml-2 _s_mb-none"><span
                          _ngcontent-scd-c42="" class="_s_label _s_label-t-u"> Register</span></button>
                    </div>
                  </div>
                  <!---->
                </div>
              </adj-login>
              <!---->
            </div>
          </div>
        </div>
        <!---->
        <!---->
      </div>
      <!---->
      <!---->
      <div _ngcontent-scd-c50="" class="_s_adj-instagram _s_display-n"></div>
    </adj-header>
    <div _ngcontent-scd-c53="">

      <adj-footer _ngcontent-scd-c53="" class="_s_color-bg-primary-5 _s_z-2 _s_position-relative _s_display-b"
        _nghost-scd-c51="">
        <adj-dynamic></adj-dynamic>
        <adj-grid>
          <adj-dynamic></adj-dynamic>
          <adj-grid class="_s_position-relative _s_z-3">
            <adj-dynamic></adj-dynamic>
            <adj-grid class="_s_color-bg-primary-6 _s_flex _s_flex-a-center _s_flex-j-center">
              <adj-dynamic></adj-dynamic>
              <adj-grid class="_s_container _s_flex _s_flex-a-center _s_flex-j-center _s_size-w-percent--25">
                <adj-dynamic></adj-dynamic>
                <adj-grid
                  class="_s_flex _s_flex-a-center _s_flex-j-center _s_pb-7 _s_pt-7 _s_size-h-px--20 _s_size-w-percent--25"
                  data-id="footer-payment-providers">
                  <adj-dynamic></adj-dynamic>
                  <adj-image-item class="_s_flex _s_flex-a-center _s_ml-2 _s_mr-2"><img applazyload="" alt="tbc.svg"
                      data-id="" class=""
                      src="https://newstatic.adjarabet.com/static/atomic/icons/svg-payments/tbc.svg">
                    <!---->
                    <!---->
                  </adj-image-item>
                  <!---->
                  <!---->
                  <adj-dynamic></adj-dynamic>
                  <adj-image-item class="_s_flex _s_flex-a-center _s_ml-2 _s_mr-2"><img applazyload="" alt="bog.svg"
                      data-id="" class=""
                      src="https://newstatic.adjarabet.com/static/atomic/icons/svg-payments/bog.svg">
                    <!---->
                    <!---->
                  </adj-image-item>
                  <!---->
                  <!---->
                  <adj-dynamic></adj-dynamic>
                  <adj-image-item class="_s_flex _s_flex-a-center _s_ml-2 _s_mr-2"><img applazyload="" alt="liberty.svg"
                      data-id="" class=""
                      src="https://newstatic.adjarabet.com/static/atomic/icons/svg-payments/liberty.svg">
                    <!---->
                    <!---->
                  </adj-image-item>
                  <!---->
                  <!---->
                  <adj-dynamic></adj-dynamic>
                  <adj-image-item class="_s_flex _s_flex-a-center _s_ml-2 _s_mr-2"><img applazyload="" alt="emoney.svg"
                      data-id="" class=""
                      src="https://newstatic.adjarabet.com/static/atomic/icons/svg-payments/emoney.svg">
                    <!---->
                    <!---->
                  </adj-image-item>
                  <!---->
                  <!---->
                  <adj-dynamic></adj-dynamic>
                  <adj-image-item class="_s_flex _s_flex-a-center _s_ml-2 _s_mr-2"><img applazyload="" alt="visa.svg"
                      data-id="" class=""
                      src="https://newstatic.adjarabet.com/static/atomic/icons/svg-payments/visa.svg">
                    <!---->
                    <!---->
                  </adj-image-item>
                  <!---->
                  <!---->
                  <!---->
                  <!---->
                  <!---->
                  <!---->
                  <!---->
                  <!---->
                  <!---->
                  <!---->
                  <!---->
                  <!---->
                  <!---->
                </adj-grid>
                <!---->
                <!---->
                <!---->
                <!---->
                <!---->
                <!---->
                <!---->
                <!---->
                <!---->
                <!---->
                <!---->
                <!---->
                <!---->
                <!---->
              </adj-grid>
              <!---->
              <!---->
              <!---->
              <!---->
              <!---->
              <!---->
              <!---->
              <!---->
              <!---->
              <!---->
              <!---->
              <!---->
              <!---->
              <!---->
            </adj-grid>
            <!---->
            <!---->
            <!---->
            <adj-dynamic></adj-dynamic>
            <adj-grid class="_s_flex _s_flex-j-center _s_position-b-px--5 _s_position-fixed _s_position-r-px--5 _s_z-4">
              <adj-dynamic></adj-dynamic>
              <adj-grid class="_s_flex">
                <adj-dynamic></adj-dynamic>
                <adj-hyper-link-item class="_s_pl-5 _s_position-relative"><a tabindex="1" data-id="">
                    <adj-grid class="_s_flex">
                      <adj-dynamic></adj-dynamic>
                      <adj-grid data-id="floating-chat-1"
                        class="_s_b-radius-full _s_color-bg-primary-2 _s_cursor-pointer _s_icon _s_icon-lg _s_m-none _s_position-relative">
                        <adj-dynamic></adj-dynamic>
                        <adj-grid class="_s_adj-chat _s_icon _s_icon-sm">
                          <!---->
                          <!---->
                          <!---->
                          <!---->
                          <!---->
                          <!---->
                          <!---->
                          <!---->
                        </adj-grid>
                        <!---->
                        <!---->
                        <!---->
                        <!---->
                        <!---->
                        <!---->
                        <!---->
                        <!---->
                        <!---->
                        <!---->
                        <!---->
                        <!---->
                        <!---->
                        <!---->
                      </adj-grid>
                      <!---->
                      <!---->
                      <!---->
                      <adj-dynamic></adj-dynamic>
                      <!---->
                      <!---->
                      <!---->
                      <!---->
                      <!---->
                      <!---->
                      <!---->
                      <!---->
                      <!---->
                      <!---->
                      <!---->
                      <!---->
                      <!---->
                    </adj-grid>
                    <!---->
                    <!---->
                  </a></adj-hyper-link-item>
                <!---->
                <!---->
                <!---->
                <!---->
                <!---->
                <!---->
                <!---->
                <!---->
                <!---->
                <!---->
                <!---->
                <!---->
                <!---->
                <!---->
              </adj-grid>
              <!---->
              <!---->
              <!---->
              <adj-dynamic></adj-dynamic>
              <!---->
              <!---->
              <!---->
              <!---->
              <!---->
              <!---->
              <!---->
              <!---->
              <!---->
              <!---->
              <!---->
              <!---->
              <!---->
            </adj-grid>
            <!---->
            <!---->
            <!---->
            <adj-dynamic></adj-dynamic>
            <adj-grid
              class="_s_bt-primary-7 _s_bt-solid _s_bw-1 _s_color-bg-primary-6 _s_flex _s_flex-a-center _s_flex-j-center _s_p-5 _s_size-w-percent--25">
              <adj-dynamic></adj-dynamic>
              <adj-grid class="_s_size-h-px--10">
                <adj-dynamic></adj-dynamic>
                <adj-hyper-link-item class="_s_pr-7"><a tabindex="1" href="https://www.iniciativa.ge/en" target="_blank"
                    data-id="">
                    <adj-image-item><img applazyload="" alt="initiative_en.svg" data-id="" class=""
                        src="https://newstatic.adjarabet.com/static/images/footer/initiative_en.svg">
                      <!---->
                      <!---->
                    </adj-image-item>
                    <!---->
                  </a></adj-hyper-link-item>
                <!---->
                <!---->
                <!---->
                <adj-dynamic></adj-dynamic>
                <adj-hyper-link-item class="_s_pr-7"><a tabindex="1" href="https://www.adjarabetawards.com/en"
                    target="_blank" data-id="">
                    <adj-image-item><img applazyload="" alt="adjarabet_awards_en.svg" data-id="" class=""
                        src="https://newstatic.adjarabet.com/static/images/footer/adjarabet_awards_en.svg">
                      <!---->
                      <!---->
                    </adj-image-item>
                    <!---->
                  </a></adj-hyper-link-item>
                <!---->
                <!---->
                <!---->
                <adj-dynamic></adj-dynamic>
                <adj-hyper-link-item class="_s_pr-7"><a tabindex="1" href="http://martetamashi.ge/" target="_blank"
                    data-id="">
                    <adj-image-item><img applazyload="" alt="rule_your_games_en.svg" data-id="" class=""
                        src="https://newstatic.adjarabet.com/static/images/footer/rule_your_games_en.svg">
                      <!---->
                      <!---->
                    </adj-image-item>
                    <!---->
                  </a></adj-hyper-link-item>
                <!---->
                <!---->
                <!---->
                <adj-dynamic></adj-dynamic>
                <adj-hyper-link-item><a tabindex="1" href="https://thisissport.adjarabet.com/" target="_blank"
                    data-id="">
                    <adj-image-item><img applazyload="" alt="ambassadors_en.svg" data-id="" class=""
                        src="https://newstatic.adjarabet.com/static/images/footer/ambassadors_en.svg">
                      <!---->
                      <!---->
                    </adj-image-item>
                    <!---->
                  </a></adj-hyper-link-item>
                <!---->
                <!---->
                <!---->
                <!---->
                <!---->
                <!---->
                <!---->
                <!---->
                <!---->
                <!---->
                <!---->
                <!---->
                <!---->
                <!---->
              </adj-grid>
              <!---->
              <!---->
              <!---->
              <!---->
              <!---->
              <!---->
              <!---->
              <!---->
              <!---->
              <!---->
              <!---->
              <!---->
              <!---->
              <!---->
            </adj-grid>
            <!---->
            <!---->
            <!---->
            <adj-dynamic></adj-dynamic>
            <adj-grid
              class="_s_bd-primary-7 _s_bd-solid _s_bt-primary-7 _s_bt-solid _s_bw-1 _s_color-bg-primary-6 _s_flex _s_size-w-percent--25">
              <adj-dynamic></adj-dynamic>
              <adj-grid class="_s_container">
                <adj-dynamic></adj-dynamic>
                <adj-grid data-id="info-area" class="_s_color-bg-primary-6 _s_flex _s_flex-j-center _s_p-5">
                  <adj-dynamic></adj-dynamic>
                  <adj-router-link-item
                    class="_s_flex _s_flex-a-center _s_flex-d-column _s_pb-1 _s_pl-2 _s_pr-2 _s_pt-1"><a tabindex="1"
                      data-id="" href="/en/cashDesk">
                      <adj-span-item><span data-id=""
                          class="_s_aitem-color-primary-1 _s_color-primary-8 _s_label _s_label-a-center _s_flex-j-center _s_label-sm _s_white-space-nowrap">
                          <!---->
                        </span></adj-span-item>
                      <!---->
                      <!---->
                    </a></adj-router-link-item>
                  <!---->
                  <!---->
                  <!---->
                  <adj-dynamic></adj-dynamic>
                  <adj-router-link-item
                    class="_s_flex _s_flex-a-center _s_flex-d-column _s_pb-1 _s_pl-2 _s_pr-2 _s_pt-1"><a tabindex="1"
                      data-id="" href="/en/About">
                      <adj-span-item><span data-id=""
                          class="_s_aitem-color-primary-1 _s_color-primary-8 _s_label _s_label-a-center _s_flex-j-center _s_label-sm _s_white-space-nowrap">
                          About Us
                          <!---->
                        </span></adj-span-item>
                      <!---->
                      <!---->
                    </a></adj-router-link-item>
                  <!---->
                  <!---->
                  <!---->
                  <adj-dynamic></adj-dynamic>
                  <adj-router-link-item
                    class="_s_flex _s_flex-a-center _s_flex-d-column _s_pb-1 _s_pl-2 _s_pr-2 _s_pt-1"><a tabindex="1"
                      data-id="" href="/en/Rules">
                      <adj-span-item><span data-id=""
                          class="_s_aitem-color-primary-1 _s_color-primary-8 _s_label _s_label-a-center _s_flex-j-center _s_label-sm _s_white-space-nowrap">
                          Rules
                          <!---->
                        </span></adj-span-item>
                      <!---->
                      <!---->
                    </a></adj-router-link-item>
                  <!---->
                  <!---->
                  <!---->
                  <adj-dynamic></adj-dynamic>
                  <adj-router-link-item
                    class="_s_flex _s_flex-a-center _s_flex-d-column _s_pb-1 _s_pl-2 _s_pr-2 _s_pt-1"><a tabindex="1"
                      data-id="" href="/en/Payments">
                      <adj-span-item><span data-id=""
                          class="_s_aitem-color-primary-1 _s_color-primary-8 _s_label _s_label-a-center _s_flex-j-center _s_label-sm _s_white-space-nowrap">
                          Payment Methods
                          <!---->
                        </span></adj-span-item>
                      <!---->
                      <!---->
                    </a></adj-router-link-item>
                  <!---->
                  <!---->
                  <!---->
                  <adj-dynamic></adj-dynamic>
                  <adj-router-link-item
                    class="_s_flex _s_flex-a-center _s_flex-d-column _s_pb-1 _s_pl-2 _s_pr-2 _s_pt-1"><a tabindex="1"
                      data-id="" href="/en/Privacy">
                      <adj-span-item><span data-id=""
                          class="_s_aitem-color-primary-1 _s_color-primary-8 _s_label _s_label-a-center _s_flex-j-center _s_label-sm _s_white-space-nowrap">
                          Privacy Policy
                          <!---->
                        </span></adj-span-item>
                      <!---->
                      <!---->
                    </a></adj-router-link-item>
                  <!---->
                  <!---->
                  <!---->
                  <adj-dynamic></adj-dynamic>
                  <adj-router-link-item
                    class="_s_flex _s_flex-a-center _s_flex-d-column _s_pb-1 _s_pl-2 _s_pr-2 _s_pt-1"><a tabindex="1"
                      data-id="" href="/en/Contact">
                      <adj-span-item><span data-id=""
                          class="_s_aitem-color-primary-1 _s_color-primary-8 _s_label _s_label-a-center _s_flex-j-center _s_label-sm _s_white-space-nowrap">
                          Contact Us
                          <!---->
                        </span></adj-span-item>
                      <!---->
                      <!---->
                    </a></adj-router-link-item>
                  <!---->
                  <!---->
                  <!---->
                  <adj-dynamic></adj-dynamic>
                  <adj-router-link-item
                    class="_s_flex _s_flex-a-center _s_flex-d-column _s_pb-1 _s_pl-2 _s_pr-2 _s_pt-1"><a tabindex="1"
                      data-id="" href="/en/Promo/onboarding">
                      <adj-span-item><span data-id=""
                          class="_s_aitem-color-primary-1 _s_color-primary-8 _s_label _s_label-a-center _s_flex-j-center _s_label-sm _s_white-space-nowrap">
                          FAQ
                          <!---->
                        </span></adj-span-item>
                      <!---->
                      <!---->
                    </a></adj-router-link-item>
                  <!---->
                  <!---->
                  <!---->
                  <!---->
                  <!---->
                  <!---->
                  <!---->
                  <!---->
                  <!---->
                  <!---->
                  <!---->
                  <!---->
                  <!---->
                  <!---->
                </adj-grid>
                <!---->
                <!---->
                <!---->
                <!---->
                <!---->
                <!---->
                <!---->
                <!---->
                <!---->
                <!---->
                <!---->
                <!---->
                <!---->
                <!---->
              </adj-grid>
              <!---->
              <!---->
              <!---->
              <!---->
              <!---->
              <!---->
              <!---->
              <!---->
              <!---->
              <!---->
              <!---->
              <!---->
              <!---->
              <!---->
            </adj-grid>
            <!---->
            <!---->
            <!---->
            <adj-dynamic></adj-dynamic>
            <adj-grid class="_s_color-bg-primary-6 _s_flex _s_flex-a-center _s_flex-j-center">
              <adj-dynamic></adj-dynamic>
              <adj-grid class="_s_container _s_flex _s_size-w-percent--25">
                <adj-dynamic></adj-dynamic>
                <adj-grid class="_s_flex _s_pb-10 _s_pl-2 _s_pr-2 _s_pt-10 _s_size-w-percent--25">
                  <adj-dynamic></adj-dynamic>
                  <adj-grid>
                    <adj-dynamic></adj-dynamic>
                    <adj-span-item><span data-id="" class="_s_label _s_label-xs _s_color-primary-8 _s_mb-1"> Follow us
                        <!---->
                      </span></adj-span-item>
                    <!---->
                    <!---->
                    <!---->
                    <adj-dynamic></adj-dynamic>
                    <adj-grid class="_s_flex">
                      <adj-dynamic></adj-dynamic>
                      <adj-hyper-link-item
                        class="_s_b-primary-7 _s_b-radius-full _s_b-solid _s_bw-1 _s_cursor-pointer _s_flex _s_flex-a-center _s_flex-j-center _s_h-color _s_ml-none _s_mr-1 _s_size-h-px--8 _s_size-w-px--8">
                        <a tabindex="1" href="https://www.facebook.com/Adjarabet/" target="_blank" data-id=""
                          class="_s_icon _s_color-primary-8 _s_hitem-color-primary-2 _s_adj-facebook">
                          <!---->
                        </a></adj-hyper-link-item>
                      <!---->
                      <!---->
                      <!---->
                      <adj-dynamic></adj-dynamic>
                      <adj-hyper-link-item
                        class="_s_b-primary-7 _s_b-radius-full _s_b-solid _s_bw-1 _s_cursor-pointer _s_flex _s_flex-a-center _s_flex-j-center _s_h-color _s_ml-none _s_mr-1 _s_size-h-px--8 _s_size-w-px--8">
                        <a tabindex="1" href="https://twitter.com/adjarabetoff" target="_blank" data-id=""
                          class="_s_icon _s_color-primary-8 _s_hitem-color-primary-2 _s_adj-twitter">
                          <!---->
                        </a></adj-hyper-link-item>
                      <!---->
                      <!---->
                      <!---->
                      <adj-dynamic></adj-dynamic>
                      <adj-hyper-link-item
                        class="_s_b-primary-7 _s_b-radius-full _s_b-solid _s_bw-1 _s_cursor-pointer _s_flex _s_flex-a-center _s_flex-j-center _s_h-color _s_ml-none _s_mr-1 _s_size-h-px--8 _s_size-w-px--8">
                        <a tabindex="1" href="https://vk.com/adjarabetofficial" target="_blank" data-id=""
                          class="_s_icon _s_color-primary-8 _s_hitem-color-primary-2 _s_adj-vk">
                          <!---->
                        </a></adj-hyper-link-item>
                      <!---->
                      <!---->
                      <!---->
                      <adj-dynamic></adj-dynamic>
                      <adj-hyper-link-item
                        class="_s_b-primary-7 _s_b-radius-full _s_b-solid _s_bw-1 _s_cursor-pointer _s_flex _s_flex-a-center _s_flex-j-center _s_h-color _s_ml-none _s_mr-1 _s_size-h-px--8 _s_size-w-px--8">
                        <a tabindex="1" href="https://ok.ru/group/53026613231803" target="_blank" data-id=""
                          class="_s_icon _s_color-primary-8 _s_hitem-color-primary-2 _s_adj-ok">
                          <!---->
                        </a></adj-hyper-link-item>
                      <!---->
                      <!---->
                      <!---->
                      <adj-dynamic></adj-dynamic>
                      <adj-hyper-link-item
                        class="_s_b-primary-7 _s_b-radius-full _s_b-solid _s_bw-1 _s_cursor-pointer _s_flex _s_flex-a-center _s_flex-j-center _s_h-color _s_ml-none _s_mr-1 _s_size-h-px--8 _s_size-w-px--8">
                        <a tabindex="1" href="https://www.linkedin.com/company/adjarabet" target="_blank" data-id=""
                          class="_s_icon _s_color-primary-8 _s_hitem-color-primary-2 _s_adj-linkedin">
                          <!---->
                        </a></adj-hyper-link-item>
                      <!---->
                      <!---->
                      <!---->
                      <adj-dynamic></adj-dynamic>
                      <adj-hyper-link-item
                        class="_s_b-primary-7 _s_b-radius-full _s_b-solid _s_bw-1 _s_cursor-pointer _s_flex _s_flex-a-center _s_flex-j-center _s_h-color _s_ml-none _s_mr-1 _s_size-h-px--8 _s_size-w-px--8">
                        <a tabindex="1" href="https://www.youtube.com/channel/UCZNj9ZFLy2vtvxaf_nIS-Vg" target="_blank"
                          data-id="" class="_s_icon _s_color-primary-8 _s_hitem-color-primary-2 _s_adj-youtube">
                          <!---->
                        </a></adj-hyper-link-item>
                      <!---->
                      <!---->
                      <!---->
                      <!---->
                      <!---->
                      <!---->
                      <!---->
                      <!---->
                      <!---->
                      <!---->
                      <!---->
                      <!---->
                      <!---->
                      <!---->
                    </adj-grid>
                    <!---->
                    <!---->
                    <!---->
                    <!---->
                    <!---->
                    <!---->
                    <!---->
                    <!---->
                    <!---->
                    <!---->
                    <!---->
                    <!---->
                    <!---->
                    <!---->
                  </adj-grid>
                  <!---->
                  <!---->
                  <!---->
                  <adj-dynamic></adj-dynamic>
                  <adj-grid class="_s_flex _s_pl-5 _s_pr-5">
                    <adj-dynamic></adj-dynamic>
                    <adj-empty class="_s_adj-phone _s_color-primary-8 _s_icon _s_icon-sm"></adj-empty>
                    <!---->
                    <!---->
                    <adj-dynamic></adj-dynamic>
                    <adj-grid class="_s_flex">
                      <adj-dynamic></adj-dynamic>
                      <adj-grid class="_s_pr-5">
                        <adj-dynamic></adj-dynamic>
                        <adj-span-item><span data-id="" class="_s_label _s_label-xs _s_color-primary-8"> Questions?
                            Contact us via call
                            <!---->
                          </span></adj-span-item>
                        <!---->
                        <!---->
                        <!---->
                        <adj-dynamic></adj-dynamic>
                        <adj-inner-html>
                          <div class="_s_label _s_label-md">+995 32 2 71 10 10<br>+995 32 2 97 10 10</div>
                        </adj-inner-html>
                        <!---->
                        <!---->
                        <!---->
                        <!---->
                        <!---->
                        <!---->
                        <!---->
                        <!---->
                        <!---->
                        <!---->
                        <!---->
                        <!---->
                        <!---->
                      </adj-grid>
                      <!---->
                      <!---->
                      <!---->
                      <adj-dynamic></adj-dynamic>
                      <adj-grid class="_s_pl-5">
                        <adj-dynamic></adj-dynamic>
                        <adj-span-item><span data-id="" class="_s_label _s_label-xs _s_color-primary-8"> working hours
                            <!---->
                          </span></adj-span-item>
                        <!---->
                        <!---->
                        <!---->
                        <adj-dynamic></adj-dynamic>
                        <adj-span-item><span data-id="" class="_s_label _s_label-md"> 12:00-23:00
                            <!---->
                          </span></adj-span-item>
                        <!---->
                        <!---->
                        <!---->
                        <!---->
                        <!---->
                        <!---->
                        <!---->
                        <!---->
                        <!---->
                        <!---->
                        <!---->
                        <!---->
                        <!---->
                        <!---->
                      </adj-grid>
                      <!---->
                      <!---->
                      <!---->
                      <!---->
                      <!---->
                      <!---->
                      <!---->
                      <!---->
                      <!---->
                      <!---->
                      <!---->
                      <!---->
                      <!---->
                      <!---->
                    </adj-grid>
                    <!---->
                    <!---->
                    <!---->
                    <adj-dynamic></adj-dynamic>
                    <!---->
                    <!---->
                    <!---->
                    <!---->
                    <!---->
                    <!---->
                    <!---->
                    <!---->
                    <!---->
                    <!---->
                    <!---->
                    <!---->
                    <!---->
                  </adj-grid>
                  <!---->
                  <!---->
                  <!---->
                  <adj-dynamic></adj-dynamic>
                  <adj-hyper-link-item class="_s_ml-auto"><a tabindex="1" data-id="">
                      <adj-grid class="_s_cursor-pointer _s_flex">
                        <div data-id="" class="_s_icon _s_icon-lg _s_color-bg-primary-2 _s_b-radius-full">
                          <adj-dynamic></adj-dynamic>
                          <adj-empty class="_s_adj-chat _s_color-primary-4 _s_icon _s_icon-md"></adj-empty>
                          <!---->
                          <!---->
                          <!---->
                          <!---->
                        </div>
                        <!---->
                        <div data-id="">
                          <adj-dynamic></adj-dynamic>
                          <adj-grid>
                            <adj-dynamic></adj-dynamic>
                            <adj-span-item><span data-id="" class="_s_label _s_label-xs _s_color-primary-8"> Questions?
                                Chat with us
                                <!---->
                              </span></adj-span-item>
                            <!---->
                            <!---->
                            <!---->
                            <adj-dynamic></adj-dynamic>
                            <adj-inner-html>
                              <div class="_s_label _s_label-md _s_color-primary-1">Live chat</div>
                            </adj-inner-html>
                            <!---->
                            <!---->
                            <!---->
                            <!---->
                            <!---->
                            <!---->
                            <!---->
                            <!---->
                            <!---->
                            <!---->
                            <!---->
                            <!---->
                            <!---->
                          </adj-grid>
                          <!---->
                          <!---->
                          <!---->
                          <!---->
                          <!---->
                        </div>
                        <!---->
                        <!---->
                        <!---->
                        <!---->
                        <!---->
                        <!---->
                        <!---->
                        <!---->
                        <!---->
                      </adj-grid>
                      <!---->
                      <!---->
                    </a></adj-hyper-link-item>
                  <!---->
                  <!---->
                  <!---->
                  <!---->
                  <!---->
                  <!---->
                  <!---->
                  <!---->
                  <!---->
                  <!---->
                  <!---->
                  <!---->
                  <!---->
                  <!---->
                </adj-grid>
                <!---->
                <!---->
                <!---->
                <!---->
                <!---->
                <!---->
                <!---->
                <!---->
                <!---->
                <!---->
                <!---->
                <!---->
                <!---->
                <!---->
              </adj-grid>
              <!---->
              <!---->
              <!---->
              <!---->
              <!---->
              <!---->
              <!---->
              <!---->
              <!---->
              <!---->
              <!---->
              <!---->
              <!---->
              <!---->
            </adj-grid>
            <!---->
            <!---->
            <!---->
            <adj-dynamic></adj-dynamic>
            <adj-grid class="_s_color-bg-primary-5 _s_flex _s_flex-a-center _s_flex-j-center _s_size-w-percent--25">
              <adj-dynamic></adj-dynamic>
              <adj-grid class="_s_container _s_flex _s_flex-a-center _s_flex-j-center _s_size-w-percent--25">
                <adj-dynamic></adj-dynamic>
                <adj-grid class="_s_size-w-percent--25">
                  <adj-dynamic></adj-dynamic>
                  <adj-grid class="_s_flex _s_flex-a-center _s_pb-10 _s_pt-10 _s_size-w-percent--25">
                    <adj-dynamic></adj-dynamic>
                    <adj-grid class="_s_col-8 _s_flex _s_flex-a-center">
                      <adj-dynamic></adj-dynamic>
                      <adj-empty class="_s_adj-18-plus _s_color-primary-8 _s_icon _s_icon-lg"></adj-empty>
                      <!---->
                      <!---->
                      <adj-dynamic></adj-dynamic>
                      <adj-inner-html class="_s_color-primary-8 _s_label _s_label-xs">
                        <div>Online bookmaking and online games of chance are operated by Aviator LLC (I/N 405076304),
                          according to the Permits #19-05/374 and #19-06/252 <br>Legal address: E. Akhvlediani Ascent,
                          N6, Chugureti District, Tbilisi, Georgia</div>
                      </adj-inner-html>
                      <!---->
                      <!---->
                      <!---->
                      <!---->
                      <!---->
                      <!---->
                      <!---->
                      <!---->
                      <!---->
                      <!---->
                      <!---->
                      <!---->
                      <!---->
                    </adj-grid>
                    <!---->
                    <!---->
                    <!---->
                    <adj-dynamic></adj-dynamic>
                    <adj-grid class="_s_flex _s_flex-d-column _s_ml-auto">
                      <adj-dynamic></adj-dynamic>
                      <adj-lang>
                        <div data-id="language-change-btn" class="_s_flex">
                          <div class="lang _s_ml-1"><a
                              class="_s_mb-none _s_btn _s_btn-negative _s_btn-xs _s_color-bg-primary-6 _s_color-bg-primary-7"><span
                                data-id="lang-btn" class="_s_flex _s_flex-a-center _s_mr-1 eng"><img
                                  class="_s_size-w-px--4"
                                  src="https://newstatic.adjarabet.com/static/images/icons/icons/eng.svg"
                                  alt="function toLowerCase() { [native code] }"></span>
                              <!----><span class="_s_label _s_label-xs">ENG</span>
                              <!---->
                              <!---->
                            </a></div>
                          <div class="lang _s_ml-1"><a
                              class="_s_mb-none _s_btn _s_btn-negative _s_btn-xs _s_color-bg-primary-6"><span
                                data-id="lang-btn" class="_s_flex _s_flex-a-center _s_mr-1 geo"><img
                                  class="_s_size-w-px--4"
                                  src="https://newstatic.adjarabet.com/static/images/icons/icons/geo.svg"
                                  alt="function toLowerCase() { [native code] }"></span>
                              <!----><span class="_s_label _s_label-xs">GEO</span>
                              <!---->
                              <!---->
                            </a></div>
                          <div class="lang _s_ml-1"><a
                              class="_s_mb-none _s_btn _s_btn-negative _s_btn-xs _s_color-bg-primary-6"><span
                                data-id="lang-btn" class="_s_flex _s_flex-a-center _s_mr-1 rus"><img
                                  class="_s_size-w-px--4"
                                  src="https://newstatic.adjarabet.com/static/images/icons/icons/rus.svg"
                                  alt="function toLowerCase() { [native code] }"></span>
                              <!----><span class="_s_label _s_label-xs">RUS</span>
                              <!---->
                              <!---->
                            </a></div>
                          <!---->
                        </div>
                        <!---->
                        <!---->
                      </adj-lang>
                      <!---->
                      <!---->
                      <!---->
                      <!---->
                      <!---->
                      <!---->
                      <!---->
                      <!---->
                      <!---->
                      <!---->
                      <!---->
                      <!---->
                      <!---->
                      <!---->
                    </adj-grid>
                    <!---->
                    <!---->
                    <!---->
                    <!---->
                    <!---->
                    <!---->
                    <!---->
                    <!---->
                    <!---->
                    <!---->
                    <!---->
                    <!---->
                    <!---->
                    <!---->
                  </adj-grid>
                  <!---->
                  <!---->
                  <!---->
                  <adj-dynamic></adj-dynamic>
                  <adj-span-item
                    class="_s_bt-primary-7 _s_bt-solid _s_bw-1 _s_flex _s_flex-j-center _s_p-5 _s_size-w-percent--25">
                    <span data-id="" class="_s_label _s_label-xs _s_color-primary-8">  Adjarabet. All rights reserved.
                      <!---->
                    </span></adj-span-item>
                  <!---->
                  <!---->
                  <!---->
                  <!---->
                  <!---->
                  <!---->
                  <!---->
                  <!---->
                  <!---->
                  <!---->
                  <!---->
                  <!---->
                  <!---->
                  <!---->
                </adj-grid>
                <!---->
                <!---->
                <!---->
                <!---->
                <!---->
                <!---->
                <!---->
                <!---->
                <!---->
                <!---->
                <!---->
                <!---->
                <!---->
                <!---->
              </adj-grid>
              <!---->
              <!---->
              <!---->
              <!---->
              <!---->
              <!---->
              <!---->
              <!---->
              <!---->
              <!---->
              <!---->
              <!---->
              <!---->
              <!---->
            </adj-grid>
            <!---->
            <!---->
            <!---->
            <!---->
            <!---->
            <!---->
            <!---->
            <!---->
            <!---->
            <!---->
            <!---->
            <!---->
            <!---->
            <!---->
          </adj-grid>
          <!---->
          <!---->
          <!---->
          <!---->
          <!---->
          <!---->
          <!---->
          <!---->
          <!---->
          <!---->
          <!---->
          <!---->
          <!---->
          <!---->
        </adj-grid>
        <!---->
        <!---->
        <!---->
      </adj-footer>
    </div>
    <adj-new-popup-builder _ngcontent-scd-c53="">
      <!---->
    </adj-new-popup-builder>s
  </my-app>

  <!-- Google Tag Manager (noscript) -->
  <noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M773H8" height="0" width="0"
      style="display:none;visibility:hidden"></iframe>
  </noscript>
  <!-- End Google Tag Manager (noscript)  a -->

  <script src="/desktop/runtime-es2015.js?v=1645833731GE" type="module" crossorigin="use-credentials"></script>
  <script src="/desktop/runtime-es5.js?v=1645833731GE" nomodule="" defer=""></script>
  <script src="/desktop/polyfills-es5-es2015.js?v=1645833731GE" type="module" crossorigin="use-credentials"></script>
  <script src="/desktop/polyfills-es5-es5.js?v=1645833731GE" nomodule="" defer=""></script>
  <script src="/desktop/polyfills-es2015.js?v=1645833731GE" type="module" crossorigin="use-credentials"></script>
  <script src="/desktop/polyfills-es5.js?v=1645833731GE" nomodule="" defer=""></script>
  <script src="/desktop/main-es2015.js?v=1645833731GE" type="module" crossorigin="use-credentials"></script>
  <script src="/desktop/main-es5.js?v=1645833731GE" nomodule="" defer=""></script>
  <link rel="stylesheet" href="/styles.min.css?v=1645833731GE">




  <div class="zsiq_custommain siq_bR" data-id="zsalesiq"
    style="display: none; visibility: hidden; width: 1px; height: 1px;">
    <div id="zsiq_float"><img onload="$ZSIQWidgetUI.onLoadCustomSticker(this)"
        src="https://files.zohopublic.com/public?x-service=LiveDesk&amp;event-id=1545224644699_381859000000002043&amp;x-cli-msg=%7B%22x-siq-filetype%22%3A%22fsticker_online%22%2C%22x-siq-lsid%22%3A%22381859000000002043%22%2C%22x-siq-soid%22%3A%22673003591%22%2C%22x-siq-ispreview%22%3Afalse%2C%22x-siq-pfname%22%3A%22blank.gif%22%2C%22x-siq-downloadtype%22%3A%22default%22%7D"
        class="" alt="Chat Widget" height="400" width="400"><em id="zsiq_unreadcnt" class="zsiq_unrdcnt"
        style="display: none;"></em><em id="zsiq_avcall" class="zsiqmin_unrdcnt zsiq_unrdcnt siqico-mincall"
        style="display: none;"></em></div>
  </div>
  <style id="zsiqcustomcss" data-id="zsalesiq">
    .zsiq_flt_rel {
      background-color: #52DF7E !important;
    }

    .zsiq_seasonal .st2 {
      fill: #52DF7E !important;
    }
  </style>
</body>
</body>


</html>