<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>ATOMIC CSS</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="Description"
    content="A simple yet thorough webpack starter boilerplate for static websites that achieves high performance and cover all best practices." />

  <!-- Open alpa data  -->
  <meta property="og:title" content="George Kishmareia" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://github.com/GeorgeKish/atomic-guide-builder" />
  <meta property="og:image" content="#" />
  <meta property="og:image:alt" content="A blue package, symbolizing what webpack does." />
  <meta property="og:description"
    content="A simple yet thorough webpack starter boilerplate for static websites that achieves high performance and cover all best practices." />

  <!-- Twitter Card data -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:creator" content="#q1sh0" />

  <!-- Mobile header color for Chrome, Firefox OS and Opera -->
  <meta name="theme-color" content="#2c638f" />
  <!-- Mobile header color Windows Phone -->
  <meta name="msapplication-navbutton-color" content="#2c638f" />
  <!-- Mobile header color for iOS Safari (supports black, black-translucent or default) -->
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
  <link rel="stylesheet" href="https://newstatic.adjarabet.com/static/atomic/buildcss/fonts-com.css">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet"> 
  <link href="https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Extended+Text&display=swap" rel="stylesheet">
</head> 
<body class="_s_color-bg-primary-4 _s_user-select-auto _s_pt-10 _s_pb-10">
  <div class=" _s_user-select-auto _s_color-bg-primary-6 _s_size-w-percent--25 _s_size-w-max-px--400 _s_ml-auto _s_mr-auto _s_mt-10 _s_color-bg-primary-5 _s_position-relative">
    APP
  </div>
</body>


</html>